* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    text-align: center;
    background: url('hero-background.jpg') center/cover no-repeat;
    color: #fff;
    padding: 100px 0;
}

.hero h1 {
    font-size: 2em;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

.hero a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.featured-skins {
    margin: 40px 0;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
}

.search-bar {
    text-align: center;
    margin-top: 20px;
}

.search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 20px;
}

.skin-tab {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.minecraft-skin-3d {
    width: 200px;
    height: 600px;
    margin: 0 auto;
    background-image: url('../../../storage/skin/isaucyy3427/isaucyy3427_CustomSlim6f1d93d6-d649-3db0-80bb-e5a169526778.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}