node_modules
*.json
proxy/others/339bdb_bed-cache.json
node_modules/prismarine-chunk/src/pc/common/PaletteContainer.js
node_modules/prismarine-chunk/src/pc/common/PaletteChunkSection.js
node_modules/prismarine-chunk/src/pc/common/PaletteBiome.js
node_modules/prismarine-chunk/src/pc/common/constants.js
node_modules/prismarine-chunk/src/pc/common/CommonChunkSection.js
node_modules/prismarine-chunk/src/pc/common/BitArrayNoSpan.js
node_modules/prismarine-chunk/src/pc/common/BitArray.js
node_modules/prismarine-chunk/src/pc/1.9/ChunkSection.js
node_modules/prismarine-chunk/src/pc/1.9/ChunkColumn.js
node_modules/prismarine-chunk/src/pc/1.18/ChunkColumn.js
node_modules/prismarine-chunk/src/pc/1.17/ChunkColumn.js
node_modules/prismarine-chunk/src/pc/1.16/ChunkColumn.js
node_modules/prismarine-chunk/src/pc/1.15/ChunkColumn.js
node_modules/prismarine-chunk/src/pc/1.14/ChunkColumn.js
node_modules/prismarine-chunk/src/pc/1.13/ChunkSection.js
node_modules/prismarine-chunk/src/pc/1.13/ChunkColumn.js
node_modules/prismarine-chunk/src/bedrock/1.18/ChunkColumn.js
node_modules/prismarine-chunk/HISTORY.md
node_modules/prismarine-chat/test/basic.test.js
node_modules/prismarine-chat/README.md
node_modules/prismarine-chat/index.js
node_modules/prismarine-chat/index.d.ts
node_modules/prismarine-chat/HISTORY.md
node_modules/prismarine-chat/.github/workflows/publish.yml
node_modules/prismarine-chat/.github/workflows/ci.yml
node_modules/prismarine-block/README.md
node_modules/prismarine-block/index.js
node_modules/prismarine-block/index.d.ts
node_modules/node-fetch/README.md
node_modules/node-fetch/package.json
node_modules/node-fetch/lib/index.mjs
node_modules/node-fetch/lib/index.js
node_modules/node-fetch/lib/index.es.js
node_modules/minecraft-data/typings/index-template.d.ts
node_modules/minecraft-data/package.json
node_modules/minecraft-data/minecraft-data/schemas/particles_schema.json
node_modules/minecraft-data/minecraft-data/schemas/language_schema.json
node_modules/minecraft-data/minecraft-data/schemas/entityLoot_schema.json
node_modules/minecraft-data/minecraft-data/schemas/blockLoot_schema.json
node_modules/minecraft-data/minecraft-data/README.md
node_modules/minecraft-data/minecraft-data/doc/history.md
node_modules/minecraft-data/minecraft-data/doc/bedrock.md
node_modules/minecraft-data/minecraft-data/data/pc/common/protocolVersions.json
node_modules/minecraft-data/minecraft-data/data/pc/common/features.json
node_modules/minecraft-data/minecraft-data/data/pc/1.20/blocks.json
node_modules/minecraft-data/minecraft-data/data/pc/1.19.4/protocol.json
node_modules/minecraft-data/minecraft-data/data/dataPaths.json
node_modules/minecraft-data/minecraft-data/data/bedrock/latest/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/latest/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/common/versions.json
node_modules/minecraft-data/minecraft-data/data/bedrock/common/protocolVersions.json
node_modules/minecraft-data/minecraft-data/data/bedrock/common/features.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.20.10/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.20.0/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.20.0/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.20.0/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.80/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.80/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.80/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.70/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.70/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.70/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.62/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.62/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.62/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.60/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.60/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.60/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.50/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.50/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.50/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.40/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.40/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.40/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.30/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.30/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.30/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.21/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.21/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.21/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.20/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.20/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.20/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.10/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.10/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.10/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.1/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.1/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.19.1/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.18.30/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.18.30/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.18.30/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.18.11/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.18.11/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.18.11/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.18.0/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.18.0/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.18.0/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.17.40/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.17.40/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.17.40/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.17.30/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.17.30/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.17.30/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.17.10/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.17.10/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.17.10/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.17.0/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.17.0/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.17.0/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.16.220/types.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.16.220/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.16.220/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.16.210/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.16.210/proto.yml
node_modules/minecraft-data/minecraft-data/data/bedrock/1.16.201/protocol.json
node_modules/minecraft-data/minecraft-data/data/bedrock/1.16.201/proto.yml
node_modules/minecraft-data/minecraft-data/.github/workflows/update-helper.yml
node_modules/minecraft-data/minecraft-data/.github/helper-bot/index.js
node_modules/minecraft-data/index.js
node_modules/minecraft-data/index.d.ts
node_modules/minecraft-data/doc/history.md
node_modules/minecraft-data/doc/api.md
node_modules/minecraft-data/data.js
node_modules/jsonwebtoken/sign.js
node_modules/jsonwebtoken/package.json
node_modules/jsonwebtoken/CHANGELOG.md
node_modules/jose/package.json
node_modules/jose/dist/types/types.d.ts
node_modules/jose/dist/types/jwt/encrypt.d.ts
node_modules/jose/dist/types/jwk/thumbprint.d.ts
node_modules/jose/dist/types/jwe/flattened/encrypt.d.ts
node_modules/jose/dist/types/jwe/compact/encrypt.d.ts
node_modules/jose/dist/node/esm/util/decode_jwt.js
node_modules/jose/dist/node/esm/lib/decrypt_key_management.js
node_modules/jose/dist/node/esm/jws/flattened/verify.js
node_modules/jose/dist/node/esm/jwe/flattened/decrypt.js
node_modules/jose/dist/node/cjs/util/decode_jwt.js
node_modules/jose/dist/node/cjs/runtime/base64url.js
node_modules/jose/dist/node/cjs/lib/decrypt_key_management.js
node_modules/jose/dist/node/cjs/jws/flattened/verify.js
node_modules/jose/dist/node/cjs/jwe/flattened/decrypt.js
node_modules/jose/dist/browser/util/decode_jwt.js
node_modules/jose/dist/browser/runtime/asn1.js
node_modules/jose/dist/browser/lib/decrypt_key_management.js
node_modules/jose/dist/browser/jws/flattened/verify.js
node_modules/jose/dist/browser/jwe/flattened/decrypt.js
node_modules/follow-redirects/package.json
node_modules/follow-redirects/index.js
node_modules/bedrock-protocol/src/relay.js
node_modules/bedrock-protocol/src/options.js
node_modules/bedrock-protocol/src/handshake/login.js
node_modules/bedrock-protocol/src/handshake/constants.js
node_modules/bedrock-protocol/README.md
node_modules/bedrock-protocol/package.json
node_modules/bedrock-protocol/index.d.ts
node_modules/bedrock-protocol/HISTORY.md
node_modules/bedrock-protocol/docs/API.md
node_modules/@azure/msal-node/package.json
node_modules/@azure/msal-node/dist/packageMetadata.d.ts
node_modules/@azure/msal-node/dist/msal-node.esm.js.map
node_modules/@azure/msal-node/dist/msal-node.esm.js
node_modules/@azure/msal-node/dist/msal-node.cjs.production.min.js.map
node_modules/@azure/msal-node/dist/msal-node.cjs.production.min.js
node_modules/@azure/msal-node/dist/msal-node.cjs.development.js.map
node_modules/@azure/msal-node/dist/msal-node.cjs.development.js
node_modules/@azure/msal-node/dist/client/PublicClientApplication.d.ts.map
node_modules/@azure/msal-common/package.json
node_modules/@azure/msal-common/dist/utils/TimeUtils.js
node_modules/@azure/msal-common/dist/utils/StringUtils.js
node_modules/@azure/msal-common/dist/utils/ProtocolUtils.js
node_modules/@azure/msal-common/dist/utils/Constants.js
node_modules/@azure/msal-common/dist/url/UrlString.js
node_modules/@azure/msal-common/dist/telemetry/server/ServerTelemetryManager.js
node_modules/@azure/msal-common/dist/telemetry/performance/StubPerformanceClient.js
node_modules/@azure/msal-common/dist/telemetry/performance/PerformanceEvent.js.map
node_modules/@azure/msal-common/dist/telemetry/performance/PerformanceEvent.js
node_modules/@azure/msal-common/dist/telemetry/performance/PerformanceEvent.d.ts.map
node_modules/@azure/msal-common/dist/telemetry/performance/PerformanceEvent.d.ts
node_modules/@azure/msal-common/dist/telemetry/performance/PerformanceClient.js
node_modules/@azure/msal-common/dist/response/ResponseHandler.js
node_modules/@azure/msal-common/dist/request/ScopeSet.js
node_modules/@azure/msal-common/dist/request/RequestValidator.js
node_modules/@azure/msal-common/dist/request/RequestParameterBuilder.js
node_modules/@azure/msal-common/dist/request/AuthenticationHeaderParser.js
node_modules/@azure/msal-common/dist/packageMetadata.js.map
node_modules/@azure/msal-common/dist/packageMetadata.js
node_modules/@azure/msal-common/dist/packageMetadata.d.ts
node_modules/@azure/msal-common/dist/network/ThrottlingUtils.js
node_modules/@azure/msal-common/dist/network/NetworkManager.js
node_modules/@azure/msal-common/dist/network/INetworkModule.js
node_modules/@azure/msal-common/dist/logger/Logger.js
node_modules/@azure/msal-common/dist/index.js
node_modules/@azure/msal-common/dist/index.cjs.js.map
node_modules/@azure/msal-common/dist/index.cjs.js
node_modules/@azure/msal-common/dist/error/ServerError.js
node_modules/@azure/msal-common/dist/error/JoseHeaderError.js
node_modules/@azure/msal-common/dist/error/InteractionRequiredAuthError.js
node_modules/@azure/msal-common/dist/error/ClientConfigurationError.js
node_modules/@azure/msal-common/dist/error/ClientAuthError.js
node_modules/@azure/msal-common/dist/error/AuthError.js
node_modules/@azure/msal-common/dist/crypto/PopTokenGenerator.js
node_modules/@azure/msal-common/dist/crypto/JoseHeader.js
node_modules/@azure/msal-common/dist/crypto/ICrypto.js
node_modules/@azure/msal-common/dist/config/ClientConfiguration.js
node_modules/@azure/msal-common/dist/client/UsernamePasswordClient.js
node_modules/@azure/msal-common/dist/client/SilentFlowClient.js
node_modules/@azure/msal-common/dist/client/RefreshTokenClient.js
node_modules/@azure/msal-common/dist/client/OnBehalfOfClient.js
node_modules/@azure/msal-common/dist/client/DeviceCodeClient.js
node_modules/@azure/msal-common/dist/client/ClientCredentialClient.js
node_modules/@azure/msal-common/dist/client/BaseClient.js
node_modules/@azure/msal-common/dist/client/AuthorizationCodeClient.js
node_modules/@azure/msal-common/dist/cache/persistence/TokenCacheContext.js
node_modules/@azure/msal-common/dist/cache/entities/ThrottlingEntity.js
node_modules/@azure/msal-common/dist/cache/entities/ServerTelemetryEntity.js
node_modules/@azure/msal-common/dist/cache/entities/RefreshTokenEntity.js
node_modules/@azure/msal-common/dist/cache/entities/IdTokenEntity.js
node_modules/@azure/msal-common/dist/cache/entities/CredentialEntity.js
node_modules/@azure/msal-common/dist/cache/entities/CacheRecord.js
node_modules/@azure/msal-common/dist/cache/entities/AuthorityMetadataEntity.js
node_modules/@azure/msal-common/dist/cache/entities/AppMetadataEntity.js
node_modules/@azure/msal-common/dist/cache/entities/AccountEntity.js
node_modules/@azure/msal-common/dist/cache/entities/AccessTokenEntity.js
node_modules/@azure/msal-common/dist/cache/CacheManager.js
node_modules/@azure/msal-common/dist/authority/RegionDiscovery.js
node_modules/@azure/msal-common/dist/authority/ProtocolMode.js
node_modules/@azure/msal-common/dist/authority/OpenIdConfigResponse.js
node_modules/@azure/msal-common/dist/authority/CloudInstanceDiscoveryResponse.js
node_modules/@azure/msal-common/dist/authority/CloudInstanceDiscoveryErrorResponse.js
node_modules/@azure/msal-common/dist/authority/AuthorityType.js
node_modules/@azure/msal-common/dist/authority/AuthorityOptions.js
node_modules/@azure/msal-common/dist/authority/AuthorityMetadata.js
node_modules/@azure/msal-common/dist/authority/AuthorityFactory.js
node_modules/@azure/msal-common/dist/authority/Authority.js
node_modules/@azure/msal-common/dist/account/ClientInfo.js
node_modules/@azure/msal-common/dist/account/CcsCredential.js
node_modules/@azure/msal-common/dist/account/AuthToken.js
node_modules/@azure/msal-common/dist/_virtual/_tslib.js
node_modules/.package-lock.json
